.header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    /* width: 100%; */
}
.header-logo{
    font-size: 2.3rem;
    padding: 1rem;
    font-weight: 900;
    font-family: monospace;
}
.header-title {
    font-size: 2rem;
    font-weight: 600;
    font-family: monospace;
}
.header-edit{
    /* width: 30%; */
    display: flex;
    /* border: 2px solid green; */
    /* gap: 1rem; */
}

.add-task {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    bottom: 0;
    margin:1rem;
    padding: .6rem 1rem;
    border-radius:10px ;
    font-size: 16px;
    font-weight: 600;
    font-family: monospace;
    color: white;
    border: none;
    min-width: fit-content;
    background-color: rgb(97, 4, 226);
}

.header-edit  .btn{
    color: gray;
    background: none;
    border: none;
    font-size: 18px;
}
.header-gt{
    font-size: 25px;
    color:rgb(97, 4, 226) ;
    visibility: hidden;
}
@media screen and (max-width:620px) {
    .header-title {
        font-size: 1.6rem;
    }
    .add-task {
        font-size: 14px;
        padding: .5rem;

    }
    .header-edit{
        /* width: 30%; */
        display: flex;
        /* border: 2px solid green; */
        /* gap: 1rem; */
    }
    .header-logo{
        display: none;
    }
    .header-gt{
        visibility: visible;
    }
}
@media screen and (max-width:320px) {
    .header-title {
        font-size: 1.6rem;
    }
    .add-task {
        font-size: 10px;
        padding: .3rem;
    }
    .header-edit{
        /* width: 30%; */
        display: flex;
        /* border: 2px solid green; */
        /* gap: .5rem; */
    }
}